// --------------------------------------------------------------------------------
// MODUELS - JUMBOTRON
// --------------------------------------------------------------------------------
.m-jumbotron                              	{ min-height:326px; padding:40px; background:url('../images/header-background.png') repeat-x; background-size:cover; text-align:center; border-bottom:1px solid $color-gray-lighter-2;
    p                                   	{ margin:20px 0; color:$color-white; font-size:1.250em; font-weight:$font-weight-medium; }
    p a                                 	{ text-decoration:underline; }
    a                                   	{ color:$color-white; }
    .m-btn                              	{ margin:0 auto; background:$color-gray; }
}