// --------------------------------------------------------------------------------
// TEMPLATE - FOOTER 
// --------------------------------------------------------------------------------
footer 										{ margin-top:100px; padding:10px; background:$color-gray-lighter-1; font-size:0.750em; text-align:center; border-top:1px solid $color-gray-lighter-2; border-bottom:1px solid $color-gray-lighter-2; }
