// --------------------------------------------------------------------------------
// VIEWS - REGISTER
// --------------------------------------------------------------------------------
.v-register                                 {
    form                                    { margin:40px; }
    @media (max-width:768px)                {
        form                                { margin:20px; }
    }

    input                                   { margin-bottom:20px; }
}