// --------------------------------------------------------------------------------
// BASE - VARIABLES 
// --------------------------------------------------------------------------------
$color-white:								#fff;
$color-white-darker-1: 						#f4f4f4;

$color-gray: 								#222;
$color-gray-lighter-1: 						#eee;
$color-gray-lighter-2: 						#ccc;
$color-gray-lighter-3: 						#ddd;

$color-green: 								#97c865;

$color-yellow: 								#eac62f;

$color-blue: 								#3aafda;

$font-family-default: 						'Avenir', sans-serif;

$font-weight-light:							400;
$font-weight-medium:						500;
$font-weight-bold:							700;